  <nav>
    <div>
      <ul>
        <li><a href="/">Autentification</a></li>
        <li><a href="/create">Registration</a></li>
        <li><a href="/list">Список пользователей</a></li>
      </ul>
    </div>
  </nav>
        