
<form class="infoForm"action="/create" method="POST"></form>
<h2>New user</h2>
<div>
    <label>Имя</label><br>
    <input type="text" name ="name"><br><br>
    <label>E-mail</label><br>
    <input type="email" name="email"><br><br>
    <label>Пароль</label><br>
    <input type="password" name="password"><br><br>
    <label>Дата рождения</label><br>
    <input type ="date" name="birthdate"><br><br>
</div>
<button type="submit">Зарегистрироваться</button>
</form>

